<div id="header">
  <div style="display: flex; align-content: center; justify-content: center;">
    <div id="logo"></div>
    <div id="headerTitle">
      <h3> Petro Support Register</h3>
    </div>
  </div>

  <div style="display: flex;">
    <div class="left" id="edit"> </div>
    <div id="logout"></div>
  </div>
</div>

<div id="mainPage">



  <div id="nav">
    <div class="card flex justify-content-center">
      <p-panelMenu [model]="items" [style]="{'width':'265px'}"></p-panelMenu>
    </div>
  </div>

  <div id="main">
    <h2> click on administrator </h2>
 <h3> then click on client</h3>

    <router-outlet></router-outlet>
  </div>


</div>